<div class="row">
    <div id="vitalschart" class="col-md-12">
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table id="vitalstable" class="table table-bordered" width="100%" />
    </div>
</div>
<div id="processingDiv" class="row" >
    <div class="col-md-12">
        Processing...
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/datatables")
@Scripts.Render("~/bundles/highcharts")
<script src="~/Scripts/app/Vitals.js"></script>


